/* You can add global styles to this file, and also import other style files */
.pink-color{
  background-color: #8c2256;
  color: white;
  }
  .pink-color:hover{
    background-color: white;
    color: #8c2256;
    border: #8c2256 1px solid;
  }
.colorr{
  color: #8c2256;

}
